body {
    margin: 0 auto;
}

.topo {
    width: 100%;
    max-width: 800px;
    height: 100px;
    margin: auto;
}

.logo {
    width: 50%;
    height: 100%;
    float: left;
    background-color: rgb(41, 41, 41);
}

.menu {
    width: 50%;
    height: 100px;
    float: left;
    background-color: grey;
}

.corpo {
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: auto;
    background-color: rgb(78, 78, 78);
}

.rodape {
    width: 100%;
    max-width: 800px;
    height: 100px;
    margin: auto;
    background-color: rgb(41, 41, 41);
}

@media only screen and (max-width: 500px) {
    .corpo {
        height: 400px;
    }

    .logo {
        width: 100%;
    }

    .menu {
        width: 100%;
    }
}