@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    background-color: rgb(0, 0, 22);
}

/*  ----- CABEÇALHO -----   */
header {
    width: 100%;
    display: flex;
    height: 70px;
    background: rgb(0, 0, 0);
    border-bottom: solid rgb(39, 39, 39) 2px;
    position: relative;
}

.logocabec {
    margin-left: 10px;
    width: 100%;
    height: 100%;
}

.logocabec img {
    width: 100%;
    height: 100%;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul {
    font-family: poppins, arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
}

.menu-opcoes ul li {
    display: inline;
}

.menu-opcoes ul li a {
    color: white;
    background-color: rgb(17, 17, 17);
}

.menu-opcoes ul li a:hover {
    color: red;
    text-shadow: 2px 2px 2px white;
}

.menu-opcoes a {
    font-weight: 600;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    text-shadow: 2px 2px 2px red;
}


/*  ----- CORPO -----   */
.container {
    width: 70%;
    height: auto;
    color: white;
    margin: 0 auto;
    text-align: center;
    height: 1200px;
}

.container h2 {
    margin: 5px;
    padding: 5px;
}

.busca, .menu-start {
    background-color: grey;
    font-family: poppins, arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px;
    width: 30%;
    margin-bottom: 5px;
    clear: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-start ul {
    font-family: poppins, arial, sans-serif;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
    font-weight: 50;
    width: 90%;
}

.menu-start ul li {
    margin: 1px;
}

.menu-start ul li:hover {
    font-size: 22px;
    background-color: #636363;
}

.menu-start ul li a:hover {
    color: red;
    text-shadow: 2px 2px 2px white;
}

.menu-start a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    text-shadow: 2px 2px 2px red;
}

.busca {
    margin: 0;
    font-family: poppins, arial, sans-serif;
}

.busca input {
    padding: 5px;
    border: 1px solid black;
}

.busca button {
    border: 1px solid black;
    width: 200px;
    padding: 6px;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
}

.busca button:hover {
    background-color: rgb(44, 44, 44);
}

.conteudo {
    width: 30%;
    float: left;
    border: 1px solid white;
    margin: 0;
    color: white;
}

/*  ----- RODAPÉ -----  */
footer {
    margin: 0 auto;
    width: 100%;
}

.rodape {
    font-family: poppins, arial, sans-serif;
    text-align: center;
    position: bottom;
    background-color:rgb(0, 0, 0);
    padding: 5px;
    margin: 0;
}

footer h1 {
    font-size: 20px;
    color: white;
}


/*  ----- RESPONSIVO -----  */
@media only screen and (max-width: 800px) {

    /* ----- CABEÇALHO ----- */
    header {
        display: flex;
        width: 100%;
        height: 400px;
        background: rgb(0, 0, 0);
        border-bottom: solid rgb(141, 141, 141) 2px;
    }

    .cabec {
        display: inline;
        width: 100%;
        height: 100%;
    }

    .logocabec {
        width: 250px;
        height: 95px;
        margin: auto;
    }

    .logocabec img {
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .menu-opcoes {
        border-top: solid rgb(141, 141, 141) 2px;
        margin: 0;
        width: 100%;
    }
    
    .menu-opcoes ul {
        font-family: poppins, arial, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 20px;
        width: 100%;   
    }

    .menu-opcoes ul li {
        display: flex;
        width: 100%;
    }

    .menu-opcoes ul li a {
        width: 100%;
        margin: 0;
        color: white;
        background-color: rgb(17, 17, 17);
        border-radius: 0;
    }

    .menu-opcoes a {
        width: 100%;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        text-shadow: 2px 2px 2px red;
    }

    .menu-opcoes ul li a:hover {
        color: red;
        text-shadow: 2px 2px 2px white;
    }

    /* ----- CORPO ----- */
}